.slds-builder-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.125rem;
    background-color: #4565c8;
    background-size: 175px;
    background-image: url("bkg_diamond.png");
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
    color: white;
  }
  .nav-h-list{
      display: flex;
      flex-direction: row;
  }
  .logo{
      margin: 5px;
      width: 40px;
      position: relative;
      bottom: 2px;
      right: 2px;
      padding: 2px;
      border-radius: 5px;
      background: #ffffff45;
      transition: all 0.5s ease-in-out;
  }
  .logo:hover{
      background-color:  #f2f2f2;
      opacity: 0.3;
  }

  .logo2{
      margin: 5px;
      height: 35px;
  }

  .global-search{
      margin: 7px;
      border-radius: 2px
  }
  .clock-logo{
      margin: 10px;
      height: 20px;
      width: 20px;
  }
  .clock-div{
    margin: 5px;
    transition: all 0.5s ease-in-out;
  }
  .clock-div:hover{
    background-color:  #f2f2f2;
  }

